{% extends "meals/base.html" %}
{% load staticfiles %}

{% block ingredient_active %}active{% endblock %}
{% block title %}Ingredients{% endblock %}

{% block body %}
<div class="container-fluid m-auto">
<form method="post" action="{% url 'product_line' %}" id="productlineFilterForm">
{%  csrf_token %}
<div class="row">
<div class="col-sm-8">
<nav>
<ul class="pagination my-4" id="pageList">
{% if product_lines.has_previous %}
    <li class="page-item">
        <a class="page-link" page="{{  product_lines.previous_page_number }}" href="#">
            <span>&laquo;</span>
        </a>
    </li>
{% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">
            <span>&laquo;</span>
        </a>
    </li>
{% endif %}

{% for page in pages %}
    {%  if current_page == forloop.counter %}
        <li class="page-item active">
    {% else %}
        <li class="page-item">
    {% endif %}
        <a class="page-link" page="{{ forloop.counter }}" href="#">
        {{ forloop.counter }}
        </a>
    </li>
{% endfor %}

{% if product_lines.has_next %}
    <li class="page-item">
    <a class="page-link" page="{{ product_lines.next_page_number }}" href="#">
        <span>&raquo;</span>
    </a>
    </li>
{% else %}
    <li class="page-item disabled">
    <a class="page-link" href="#">
        <span>&raquo;</span>
    </a>
    </li>
{% endif %}
</ul>
</nav>
</div>
<div class="col-sm-4">
    <div class="btn-group my-4" style="float:right;">
        {% if perms.meals.add_product_line %}
        <a id="addProduct_LineButton"
           href="{%  url 'add_product_line' %}"
           class="btn btn-primary">
            <span class="fa fa-plus"></span> Add a new Product Line
        </a>
        {% endif %}

    </div>
</div>
</div>

<!-- Table column -->
<div class="col-sm-10">
{% if messages %}
<div class="alert alert-success" id="messagesDiv">
{% for message in messages %}
<p {% if message.tags %}class="{{ message.tags }}{% endif %}">{{ message }}</p>
{% endfor %}
</div>
{% endif %}
<table class="table" style="width:100%">
    <thead class="thead-light">
    <tr>
        {% if perms.meals.delete_product_line %}
        <th><input type="checkbox" id="selectAllCheckbox"> </th>
        {% endif %}
        <th>Name</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody class="table-striped">
    {% for product_line in product_lines %}
    <tr>
        {% if perms.meals.delete_product_lines %}
        <td><input type="checkbox" class="product_line-checkbox" id="{{ product_line.number }}"> </td>
        {% endif %}
        <td>
            <a href="{% url "edit_product_line" product_line.name %}"
               {% if perms.meals.change_product_line %}
               title="Click on the name to edit this product line."
               {% else %}
               title="You don't have permission to edit this Product Line."
               {% endif %}
               data-toggle="tooltip"
               data-placement="right">
                {{ product_line.name }}
            </a>
        </td>
        <td>
            <a class="btn btn-link viewPLSkus"
               href="#"
               {% if not perms.meals.view_pl_skus %}
               disabled="disabled"
               data-toggle="tooltip"
               data-placement="left"
               title="You don't have permission to view this product line's SKUs"
               {% endif %}
                data-toggle="modal"
               data-target="#modalDiv"
               id="{{ product_line.name }}">
                View
            </a>
        <!--TODO: Not sure if I need to add the ability to edit a product line-->
        </td>
    </tr>
    {%  empty %}
    {% endfor %}
    </tbody>
</table>
<div>
    <p>Found {{ product_lines.paginator.count }} matches in {{ duration }} seconds</p>
</div>
</div>
</div>
</form>
</div>

<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" id="modalDiv">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loadingSpinner">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>


<!-- Hidden div for template data -->
<div style="display: none;">
<a href="{% url 'remove_product_lines' %}" id="removeProductLinesUrl"></a>
<a href="{% url 'product_line' %}" id="productlineUrl"></a>
<input id="pageNumInputId" value="{{ form.page_num.id_for_label }}">
<input id="nameInputId" value="{{ form.name.id_for_label }}">
<a href="{% url 'view_pl_skus' 0 %}" id="viewPLSkusUrl"></a>
</div>
{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script src="{% static 'meals/product_line/product_line.js' %}"></script>
{%  endblock %}