{% extends "meals/base.html" %}
{% load staticfiles %}

{% block product_line_active %}active{% endblock %}
{% block title %}Product Lines{% endblock %}

{% block body %}
<div class="container m-auto">

{% if messages %}
<div class="row mt-3">
<div class="col-sm-12">
    <div class="alert alert-success" id="messagesDiv">
    {% for message in messages %}
    <p class="{% if message.tags %}{{ message.tags }}{% endif %}{% if forloop.counter == messages|length %} mb-0{% endif %}">
        {{ message }}
    </p>
    {% endfor %}
    </div>
</div>
</div>
{% endif %}

<div class="row mt-3 d-flex justify-content-right align-items-center">
<div class="col-sm">
    <div class="btn-group" style="float:right;">
        {% if perms.meals.add_productline %}
        <a href="{%  url 'add_product_line' %}"
           class="btn btn-primary">
            <span class="fa fa-plus"></span> Add Product Line
        </a>
        {% endif %}
        {% if perms.meals.delete_productline %}
            <button data-href="{% url 'remove_product_lines' %}"
                    disabled
                    id="removeButton"
                    class="btn btn-danger">
                <span class="fas fa-minus"></span> Remove selected
            </button>
        {% endif %}
        {% if perms.meals.view_ingredient and perms.meals.view_sale and perms.meals.view_sku %}
            <button data-href="{% url 'generate_sales_report' %}"
                    disabled
                    id="generateButton"
                    class="btn btn-success">
                <span class="fas fa-align-justify"></span> Generate Sales Report
            </button>
        {% endif %}
    </div>
</div>
</div>

<!-- Table -->
<div class="row mt-3">
<div class="col-sm-12">
<table class="table" style="width:100%">
    <thead class="thead-light">
    <tr>
        {% if perms.meals.view_sale or perms.meals.delete_productline %}
        <th>
        <div class="custom-control custom-checkbox">
        <input type="checkbox"
               id="selectAllCheckbox"
               class="custom-control-input">
        <label for="selectAllCheckbox" class="custom-control-label"></label>
        </div>
        </th>
        {% endif %}
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="table-striped">
    {% for product_line in product_lines %}
    <tr>
        {% if perms.meals.view_sale or perms.meals.delete_productline %}
        <td>
        <div class="custom-control custom-checkbox">
        <input type="checkbox" data-pl-id="{{ product_line.pk }}"
               id="checkbox-{{ product_line.pk }}"
               class="custom-control-input selectProductLineCheckboxes">
        <label for="checkbox-{{ product_line.pk }}" class="custom-control-label"></label>
        </div>
        </td>
        {% endif %}
        <td>
        {% if perms.meals.change_productline %}
        <a href="{% url "edit_product_line" product_line.pk %}"
           title="Click on the name to edit this product line."
           title="You don't have permission to edit this Product Line."
           data-toggle="tooltip"
           data-placement="right">
            {{ product_line.name }}
        </a>
        {% else %}
        {{ product_line.name }}
        {% endif %}
        </td>
        <td>
        <a class="viewPLSkus"
           href="#"
           data-toggle="modal"
           data-target="#modalDiv"
           data-pl-id="{{ product_line.pk }}">
            View SKUs
        </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div>
    <p>Found {{ product_lines|length }} match{{ product_lines|pluralize:'es' }} in {{ duration }} seconds</p>
</div>
</div>
</div>

</div>

<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" id="modalDiv">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loadingSpinner">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>


<!-- Hidden div for template data -->
<div style="display: none;">
<a href="{% url 'remove_product_lines' %}" id="removeProductLinesUrl"></a>
<a href="{% url 'product_line' %}" id="productlineUrl"></a>
<input id="pageNumInputId" value="{{ form.page_num.id_for_label }}">
<input id="nameInputId" value="{{ form.name.id_for_label }}">
<a href="{% url 'view_pl_skus' 0 %}" id="viewPLSkusUrl"></a>
</div>
{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script src="{% static 'meals/product_line/product_line.js' %}"></script>
{%  endblock %}