{% extends 'meals/base.html' %}
{% load meals_extras %}

{% block title %}Permission Denied{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-sm-12">
    <div class="alert alert-danger my-4">
        <div class="row">
        <div class="col-sm-2 d-flex align-items-center justify-content-center">
            <div class="my-2 d-flex align-items-center justify-content-center">
            <span class="fas fa-exclamation-triangle fa-5x"></span>
            </div>
        </div>
        <div class="col-sm-10">
            <h3>Unauthorized</h3>
            {% if exception %}{{ exception }}{% else %}
            You don't have permission to view this page,
            {% endif %}
            {% if messages %}because of the following reason{{ messages|pluralize }}:
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% else %}.{% endif %}
            You are currently logged in as {{ request.user.groups|values_list:'name'|join:', ' }}.
            <br/>
            This incident has been reported. Please contact the administrator,
            if you believe you are seeing this message in error.
            <br/>
            <a class="mb-0" href="{% url 'index' %}">Back to Dashboard</a>
        </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}