{% extends 'meals/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="container m-auto">
<div class="row">
<div class="col-sm">
    <div class="alert alert-success my-4">
    <h3>Edit formula for SKU #{{ sku.number }}: {{ sku.name }}</h3>
    <p>Add, remove, or edit formula ingredients and quantities below.</p>
    <p>As you type, ingredients will be autocompleted. If you need to create an ingredient,
    click on the "Create new Ingredient" button.</p>
    <p>
        Too add more rows to the table, click on the "Add row" button. To delete a
        row, check the "Delete" box to the left. Empty rows will not be processed.
    </p>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm mb-4">
    <div class="btn-group mr-2" role="group">
    <button type="button"
            class="btn btn-primary">
        <span class="fa fa-plus"></span> Create new Ingredient
    </button>
    </div>
    <div class="btn-group float-right" role="group">
    <button type="button"
            id="addRowButton"
            class="btn btn-primary">
        <span class="fa fa-plus"></span> Add row
    </button>
    <button type="button" class="btn btn-danger"><span class="fa fa-minus"></span> Remove selected</button>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm">
<form action="{% url 'edit_formula' sku.number %}" method="post">
{% csrf_token %}
{{ formset.management_form }}
{% if formset.non_form_errors %}
<div class="alert alert-danger">
Please correct the following error(s):
{{ formset.non_form_errors }}
</div>
{% endif %}
<table class="table">
<thead class="thead-light">
<tr>
{#    <th><input type="checkbox" id="selectAll"></th>#}
    <th>Ingredient</th>
    <th>Quantity</th>
    <th>Action</th>
</tr>
</thead>
<tbody id="formsetTable">
{% for form in formset %}
<tr>
    <td class="align-middle">
        {{ form.ingredient }}
        {% if form.ingredient.errors %}
        <small>{{ form.ingredient.errors }}</small>
        {% endif %}
    </td>
    <td class="align-middle">
        {{ form.quantity }}
        {% if form.quantity.errors %}
        <small>{{ form.quantity.errors }}</small>
        {% endif %}
    </td>
    <td class="align-middle">
        {{ form.DELETE }}
        <a href="#" class="deleteButton">Delete</a>
    </td>
</tr>
{% endfor %}
<div class="alert alert-success" id="emptyAlert" style="display: none;">
There is no ingredient in this formula. Click on "Add a new Ingredient" to
add another ingredient to this SKU.
</div>
</tbody>
</table>

<input type="submit" class="btn btn-success" value="Submit">
</form>

{#Render an empty form to be picked up by JavaScript#}
<div style="display: none;" id="emptyFormDiv">
{{ formset.empty_form }}
</div>
</div>
</div>
</div>
{% endblock %}

{% block scriptend %}
<script lang="javascript" src="{% static 'meals/formula/edit_formula.js' %}"></script>
{% endblock %}

{% block sku_active %}active{% endblock %}