{% extends 'meals/base.html' %}
{% load staticfiles %}

{% block title %}Edit Formula for SKU #{{ sku.number }}{% endblock %}

{% block body %}
<div class="container m-auto">
{% if edit %}
<div class="row">
<div class="col-sm">
    <div class="alert alert-success my-4">
    {% if perms.meals.change_formula and perms.meals.change_formulaingredient %}
    <h3>Edit Formula #{{ formula.number }}: {{ formula.name }}</h3>
    {% else %}
    <h3>View Formula #{{ formula.number }}: {{ formula.name }}</h3>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <p>Add, remove, or edit formula ingredients and quantities below.</p>
    <p>As you type, ingredients will be autocompleted. If you need to create an ingredient,
    click on the "Create new Ingredient" button.</p>
    <p>
        Too add more rows to the table, click on the "Add row" button. To delete a
        row, click on the "Delete" button on the right.
        Empty rows will not be processed.
    </p>
    </div>
</div>
</div>
{% endif %}

<div class="row">
<div class="col-sm mb-4">
    <div class="btn-group float-right" role="group">
    {% if perms.meals.change_formula and perms.meals.change_formulaingredient %}
    <button type="button"
            id="addRowButton"
            class="btn btn-primary">
        <span class="fa fa-plus"></span> Add row
    </button>
    {% endif %}
    {% if perms.meals.add_ingredient and perms.meals.change_formulaingredient and perms.meals.change_formula %}
    <button type="button"
            id="createIngrButton"
            data-toggle="modal"
            data-target="#modalDiv"
            class="btn btn-success">
        <span class="fa fa-plus"></span> Create new Ingredient
    </button>
    {% endif %}
    </div>
</div>
</div>

<div class="row">
<div class="col-sm">
{% if edit %}
  <form id="formulaForm" action="{% url 'edit_formula' formula.number %}" method="post">
{% else %}
  <form id="formulaForm" action="{% url 'add_formula' %}" method="post">
{% endif %}
{% csrf_token %}
{{ formset.management_form }}
{% if formset.non_form_errors %}
<div class="alert alert-danger">
Please correct the following error(s):
{{ formset.non_form_errors }}
</div>
{% endif %}
{% for field in form %}
    <div class="form-group mb-2">
    {{ field.label_tag }}
    {{ field }}
    {% if field.errors %}<small class="errorlist">{{ field.errors }}</small>{% endif %}
    </div>
{% endfor %}

<table class="table my-3">
<thead class="thead-light">
<tr>
    <th>Ingredient</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Action</th>
</tr>
</thead>
<tbody id="formsetTable">
{% for form in formset %}
<tr>
    <td class="align-middle">
        {{ form.ingredient }}
        {% if form.ingredient.errors %}
        <small>{{ form.ingredient.errors }}</small>
        {% endif %}
    </td>
    <td class="align-middle">
        {{ form.quantity }}
        {% if form.quantity.errors %}
        <small>{{ form.quantity.errors }}</small>
        {% endif %}
    </td>
    <td class="align-middle">
        {{ form.unit }}
        {% if form.unit.errors %}
        <small>{{ form.unit.errors }}</small>
        {% endif %}
    </td>
    <td class="align-middle">
        {{ form.DELETE }}
        <a href="#" class="deleteButton">Delete</a>
    </td>
</tr>
{% endfor %}
<div class="alert alert-danger" id="emptyAlert" style="display: none;">
There is no ingredient in this formula. Click on "Add row" to
add another ingredient to this SKU.
</div>
</tbody>
</table>
<div class="btn-group">
{% if in_flow %}
<input type="submit" class="btn btn-success" value="Finish">
{% else %}
<input type="submit" class="btn btn-success" value="Apply Changes">
<a href="{% url 'formula' %}" class="btn btn-secondary">Cancel</a>
{% endif %}
</div>
</form>

{#Render an empty form to be picked up by JavaScript#}
<div style="display: none;" id="emptyFormDiv">
{{ formset.empty_form }}
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="modalDiv">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Create a new Ingredient</h5>
        <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loadingSpinner">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
        <button type="button"
                class="btn btn-success"
                disabled="disabled"
                id="modalSaveButton">Save Ingredient</button>
    </div>
</div>
</div>
</div>

<!-- Hidden div for template data -->
<div style="display: none;">
<a href="{% url 'add_ingredient' %}" id="addIngredientUrl"></a>
{% if perms.meals.delete_formula and perms.meals.delete_formulaingredient %}
<input id="hasChangePerm" type="checkbox" checked="checked">
{% else %}
<input id="hasChangePerm" type="checkbox">
{% endif %}
</div>
{% endblock %}

{% block scriptend %}
<script lang="javascript" src="{% static 'meals/common.js' %}"></script>
<script lang="javascript" src="{% static 'meals/formula/edit_formula.js' %}"></script>
{% endblock %}

{% block formula_active %}active{% endblock %}
