{% load meals_extras %}

<div class="container">
<div class="row">
<div class="col-sm-12">
    <div class="alert alert-success">
    <h5>Formula #{{ formula.number }}:
        <a href="{% url 'edit_formula' formula.number %}">{{ formula.name }}</a>
    </h5>
    View ingredients of the formula below. To edit the formula, click on its name.
    </div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
    <table class="table">
    <thead class="thead-light">
    <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody id="formsetTable">
    {% for ingredient in formula.formulaingredient_set.all %}
    <tr>
        <td class="align-middle">
            {{ ingredient.ingredient }}
        </td>
        <td class="align-middle">
            {{ ingredient.quantity|quantize }} {{ ingredient.unit.symbol }}
        </td>
    </tr>
    {% empty %}
        <div class="alert alert-danger" id="emptyAlert">
        There is no ingredient in this formula.
        </div>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
</div>
