{% extends "meals/base.html" %}
{% load staticfiles %}
{% load meals_extras %}

{% block sku_active %}active{% endblock %}
{% block title %}Review Sales{% endblock %}

{% block body %}
<div class="container-fluid m-auto">
<form method="post" action="{% url 'drilldown' sku_pk %}" id="drilldownFilterForm">
{% csrf_token %}
<div class="row">
<div class="col-sm-8">
<nav>
    <ul class="pagination my-4" id="pageList">
    {% if sales.has_previous %}
        <li class="page-item">
        <a class="page-link" page="{{ sales.previous_page_number }}" href="#">
            <span>&laquo;</span>
        </a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">
            <span>&laquo;</span>
        </a>
        </li>
    {% endif %}

    {% for page in pages %}
        {% if current_page == forloop.counter %}
        <li class="page-item active">
        {% else %}
        <li class="page-item">
        {% endif %}
        <a class="page-link" page="{{ forloop.counter }}" href="#">
        {{ forloop.counter }}
        </a>
        </li>
    {% endfor %}

    {% if sales.has_next %}
        <li class="page-item">
        <a class="page-link" page="{{ sales.next_page_number }}" href="#">
            <span>&raquo;</span>
        </a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">
            <span>&raquo;</span>
        </a>
        </li>
    {% endif %}
    </ul>
</nav>
</div>
</div>
<div class="row">
<div class="col-sm-2 my-2">
<h3>Search</h3>
{% if form.non_field_errors %}
<div class="alert alert-danger">
    <p>Please correct the following error:</p>
    {{ form.non_field_errors }}
</div>
{% endif %}
{{ form.page_num }}
<div class="form-group">
    <label for="{{ form.num_per_page.id_for_label }}">Number per page:</label>
    {{ form.num_per_page }}
    {% if form.num_per_page.errors %}
    <small>{{ form.num_per_page.errors }}</small>
    {% endif %}
</div>
<div class="form-group">
    <label for="{{ form.sku.id_for_label }}">Sku Search:</label>
    {{ form.sku }}
    {% if form.sku.errors %}
    <small>{{ form.sku.errors }}</small>
    {% endif %}
</div>
<div class="form-group">
    <label for="{{ form.customer.id_for_label }}">Customer name:</label>
    {{ form.customer }}
    <small>{{ form.customer.help_text }}</small>
    {% if form.customer.errors %}
    <small>{{ form.customer.errors }}</small>
    {% endif %}
</div>
<div class="btn-group w-100" role="group">
<button id="submitButton" class="btn btn-success w-100">
    <span class="fas fa-filter"></span> Filter
</button>
<button id="resetAllButton" class="btn btn-danger w-100">
    <span class="fas fa-trash-alt"></span> Reset
</button>
</div>
<div>


{#<!-- Export buttons -->#}
{#<hr>#}
{#<h3>Export</h3>#}
{#<div class="form-check mb-2 w-100">#}
{#    <input class="form-check-input"#}
{#           type="checkbox"#}
{#           id="exportFormulaCheckbox">#}
{#    <label class="form-check-label"#}
{#           for="exportFormulaCheckbox">#}
{#        Include formulas#}
{#        <span class="badge badge-pill badge-info"#}
{#              data-toggle="tooltip"#}
{#              data-placement="right"#}
{#              data-html="true"#}
{#              title="Selecting this option will generate a ZIP file containing a <pre>formulas.csv</pre>">i</span>#}
{#    </label>#}
{#</div>#}
{#<div class="form-check mb-2 w-100">#}
{#    <input class="form-check-input"#}
{#           type="checkbox"#}
{#           id="exportProductLineCheckbox">#}
{#    <label class="form-check-label"#}
{#           for="exportProductLineCheckbox">#}
{#        Include separate Product Lines file#}
{#        <span class="badge badge-pill badge-info"#}
{#              data-toggle="tooltip"#}
{#              data-placement="right"#}
{#              data-html="true"#}
{#              title="Selecting this option will generate a ZIP file containing a <pre>product_lines.csv</pre>">i</span>#}
{#    </label>#}
{#</div>#}
{#<button class="btn btn-primary w-100" id="exportButton">#}
{#    <span class="fas fa-download"></span> Export Current Search#}
{#</button>#}
</div>
</div>


<!-- Table column -->
<div class="col-sm-10 my-2">
{% if messages %}
<div class="alert alert-success" id="messagesDiv">
{% for message in messages %}
<p {% if message.tags %}class="{{ message.tags }}{% endif %}">{{ message }}</p>
{% endfor %}
</div>
{% endif %}
<div style="overflow: scroll;">
<table class="table">
<thead class="thead-light">
<tr>
    {% if request.user.is_admin %}
    <th><input type="checkbox" id="selectAll"> </th>
    {% endif %}
    <th>Sku name</th>
    <th>Year</th>
    <th>Week Number</th>
    <th>Customer Number</th>
    <th>Customer Name</th>
    <th>Number of Sales</th>
    <th>Price per Case</th>
    <th>Revenue</th>
</tr>
</thead>
<tbody class="table-striped">
{% for sale in sales %}
<tr>
    {% if request.user.is_admin %}
    <td><input type="checkbox" class="sku-checkbox" id="{{ sku.number }}"> </td>
    {% endif %}
    <td>{{ sale.sku.name }}</td>
    <td>{{ sale.year }}</td>
    <td>{{ sale.week }}</td>
    <td>{{ sale.customer.pk }}</td>
    <td>{{ sale.customer.name }}</td>
    <td>{{ sale.sales }}</td>
    <td>{{ sale.price }}</td>
    <td>Add math here with JS</td>
</tr>
{% empty %}
    <div class="alert alert-danger">
        <p>No results were found. Please modify your search parameters and try again.</p>
    </div>
{% endfor %}
</tbody>
</table>
</div>

<div>
<p>Found {{ sales.paginator.count }} matches in {{ duration }} seconds</p>
</div>
</div>
</div>
</form>
</div>
<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" id="modalDiv">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loadingSpinner">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>

<!-- Another Modal -->
<div class="modal" tabindex="-1" role="dialog" id="bulkModalDiv">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <div class="modal-body" id="bulkModalBody">
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="bulkLoadingSpinner">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-success"
                data-dismiss="modal"
                id="bulkModalSave">Save</button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>

<!-- Hidden div with template data -->
<div style="display: none;">
<a href="{% url 'autocomplete_ingredients' %}" id="acIngredientUrl"></a>
<a href="{% url 'autocomplete_product_lines' %}" id="acProductLineUrl"></a>
<input id="ingredientsInputId" value="{{ form.ingredients.id_for_label }}">
<input id="productLinesInputId" value="{{ form.product_lines.id_for_label }}">
<input id="pageNumInputId" value="{{ form.page_num.id_for_label }}">
<a href="{% url 'sku' %}" id="skuUrl"></a>
<a href="{% url 'remove_skus' %}" id="removeSkuUrl"></a>
<a href="{% url 'view_formula' 0 %}" id="viewFormulaUrl"></a>
<a href="{% url 'view_lines'%}" id="viewLinesUrl"></a>
<a href="{% url 'edit_lines'%}" id="editLinesUrl"></a>
<a href="{% url 'sku'%}" id="skuUrl"></a>
</div>

{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script src="{% static 'meals/sku/sku.js' %}"></script>
{% endblock %}
