{% load staticfiles %}

{% block body %}
    <div id = "ml-content">
    <div class="alert alert-success" role="alert">
        You selected {{ sku_number }} SKU(s).<br />
        Here, we listed all of the manufacturing lines in three groups.<br />
        You can check the checkboxes to map all selected SKU(s) to that manufacturing line.<br />
        You can uncheck the checkboxes to unmap all selected SKU(s) to that manufacturing line.<br />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Manufacturing Lines, which All Skus Selected can be made on:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                {%  for ml in all_set %}
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input ml-line-box" id={{ ml.shortname }} checked>
                      <label class="custom-control-label" for={{ ml.shortname }}>{{ ml.name }}</label>
                    </div>
                {%  endfor %}
            </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Manufacturing Lines, which Some Skus Selected can be made on:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                {%  for ml in partial_set %}
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input indeterminate ml-line-box" id={{ ml.shortname }}>
                      <label class="custom-control-label" for={{ ml.shortname }}>{{ ml.name }}</label>
                    </div>
                {%  endfor %}
            </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Manufacturing Lines, which No Skus Selected can be made on:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                {%  for ml in none_set %}
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input ml-line-box" id={{ ml.shortname }}>
                      <label class="custom-control-label" for={{ ml.shortname }}>{{ ml.name }}</label>
                    </div>
                {%  endfor %}
            </td>
        </tr>
      </tbody>
    </table>
    </div>
{% endblock %}
{% block sku_active %}active{% endblock %}
