{% extends 'meals/base.html' %}
{% load staticfiles %}

{% block title %}
    {% if editing %}Edit SKU #{{ sku_number }}{% else %}Add SKU{% endif %}
{% endblock %}

{% block style %}
ul.ui-autocomplete {
    z-index: 1100;
}
{% endblock %}

{% block body %}
<div class="container m-auto">
<div class="row">
    <div class="col-sm">
        <div class="alert alert-success my-4">
            {% if editing %}
            <h3>Editing SKU {{ sku_name }}</h3>
            <p>
                Modify the SKU using the form below. Note that you cannot change
                some of the fields.
            </p>
            {% else %}
            <h3>Add a new SKU</h3>
            <p>Enter the information about a new SKU below. All fields are required.</p>
            <p>
                You will have a chance to enter formulas associated with this SKU
                on the next page.
            </p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm">
    {% if editing %}
    <form method="post" action="{% url 'edit_sku' sku_number %}" id="editSkuForm">
    {% else %}
    <form method="post" action="{% url 'add_sku' %}" id="editSkuForm">
    {% endif %}
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
    <h5 style="color: red">Please correct the following errors before proceeding:</h5>
    {{ form.non_field_errors }}
    </div>
    {% endif %}
        {% if form.errors %}
    <div class="alert alert-danger">
    <h5 style="color: red">Errors were detected</h5>
    {{ form.errors }}
    </div>
    {% endif %}
    {% for field in form %}
        <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        </div>
    {% endfor %}
    <div class="btn-group">
    {% if editing %}
        <button type="submit" class="btn btn-success">Apply Changes</button>
    {% else %}
        <button type="submit" class="btn btn-success">Save</button>
    {% endif %}
    <a href="{% url 'sku' %}" class="btn btn-secondary">Cancel</a>
    </div>
    </form>
    </div>
</div>
</div>
<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" id="formulaModal">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <div class="modal-body" id="formulaBody">
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loadingSpinner">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
        <button type="button"
                class="btn btn-success"
                disabled="disabled"
                id="formulaSaveButton">Save Formula</button>
    </div>
</div>
</div>
</div>

<div style="display: none;">
    <a href="{% url 'add_formula' %}" id="addFormulaUrl"></a>
    <div class="input-group" id="formulaInputGroup">
    <div class="input-group-append">
        <button type="button"
                id="addFormulaButton"
                data-toggle="modal"
                data-target="#formulaModal"
                class="btn btn-outline-secondary">
            <span class="fas fa-plus"></span>
        </button>
    <button type="button"
            id="editFormulaButton"
            data-toggle="modal"
            data-target="#formulaModal"
            data-href="{% url 'edit_formula_name' 0 %}"
            class="btn btn-outline-secondary">
        <span class="far fa-edit"></span>
    </button>
    </div>
    </div>
</div>
{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script src="{% static 'meals/sku/edit_sku.js' %}"></script>
{% endblock %}

{% block sku_active %}active{% endblock %}
