{% extends "meals/base.html" %}
{% load staticfiles %}

{% block sku_active %}active{% endblock %}
{% block title %}Review SKUs{% endblock %}

{% block body %}
<div class="container-fluid m-auto">
<form method="post" action="{% url 'sku' %}" id="skuFilterForm">
{% csrf_token %}
<div class="row">
<div class="col-sm-8">
<nav>
    <ul class="pagination my-4" id="pageList">
    {% if skus.has_previous %}
        <li class="page-item">
        <a class="page-link" page="{{ skus.previous_page_number }}" href="#">
            <span>&laquo;</span>
        </a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">
            <span>&laquo;</span>
        </a>
        </li>
    {% endif %}

    {% for page in pages %}
        {% if current_page == forloop.counter %}
        <li class="page-item active">
        {% else %}
        <li class="page-item">
        {% endif %}
        <a class="page-link" page="{{ forloop.counter }}" href="#">
        {{ forloop.counter }}
        </a>
        </li>
    {% endfor %}

    {% if skus.has_next %}
        <li class="page-item">
        <a class="page-link" page="{{ skus.next_page_number }}" href="#">
            <span>&raquo;</span>
        </a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">
            <span>&raquo;</span>
        </a>
        </li>
    {% endif %}
    </ul>
</nav>
</div>
<div class="col-sm-4">
<div class="btn-group my-4" style="float: right;">
    <a id="addSkuButton"
{#     data-toggle="modal"#}
{#     data-target="#editModal"#}
        href="{% url 'add_sku' %}"
        class="btn btn-primary">
        <span class="fa fa-plus"></span> Add a new SKU
    </a>
    <button type="button"
            class="btn btn-danger"
            disabled
            data-toggle="tooltip"
            data-placement="top"
            title="Select SKUs below to remove them."
            id="removeButton">
        <span class="fa fa-minus"></span> Remove selected
    </button>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-2">
<h3>Search</h3>
{% if form.non_field_errors %}
<div class="alert alert-danger">
    <p>Please correct the following error:</p>
    {{ form.non_field_errors }}
</div>
{% endif %}
{{ form.page_num }}
<div class="form-group">
    <label for="{{ form.num_per_page.id_for_label }}">Number per page:</label>
    {{ form.num_per_page }}
    {% if form.num_per_page.errors %}
    <small>{{ form.num_per_page.errors }}</small>
    {% endif %}
</div>
<div class="form-group">
    <label for="{{ form.sort_by.id_for_label }}">Sort by:</label>
    {{ form.sort_by }}
    {% if form.sort_by.errors %}
    <small>{{ form.sort_by.errors }}</small>
    {% endif %}
</div>
<div class="form-group">
    <label for="{{ form.keyword.id_for_label }}">Search:</label>
    {{ form.keyword }}
    {% if form.keyword.errors %}
    <small>{{ form.keyword.errors }}</small>
    {% endif %}
</div>
<div class="form-group">
    <label for="{{ form.ingredients.id_for_label }}">Contains ingredient(s):</label>
    {{ form.ingredients }}
    {% if form.ingredients.errors %}
    <small>{{ form.ingredients.errors }}</small>
    {% endif %}
</div>
<div class="form-group">
    <label for="{{ form.product_lines.id_for_label }}">Belongs to product line(s):</label>
    {{ form.product_lines }}
    {% if form.product_lines.errors %}
    <small>{{ form.product_lines.errors }}</small>
    {% endif %}
</div>
<div class="btn-group w-100" role="group">
<button id="submitButton" class="btn btn-success w-100">
    <span class="fas fa-filter"></span> Filter
</button>
<button id="resetAllButton" class="btn btn-danger w-100">
    <span class="fas fa-trash-alt"></span> Reset
</button>
</div>
<div>
<!-- Export buttons -->
<hr>
<h3>Export</h3>
<div class="form-check mb-2">
    <input class="form-check-input"
           type="checkbox"
           id="exportFormulaCheckbox">
    <label class="form-check-label"
           for="exportFormulaCheckbox">
        Also export formulas
    </label>
</div>
<button class="btn btn-primary" id="exportButton">
    <span class="fas fa-download"></span> Export Current Search
</button>
</div>
</div>
<div class="col-sm-10">
{% if messages %}
<div class="alert alert-success">
{% for message in messages %}
<p {% if message.tags %}class="{{ message.tags }}{% endif %}">{{ message }}</p>
{% endfor %}
</div>
{% endif %}
<table class="table">
<thead class="thead-light">
<tr>
    <th><input type="checkbox" id="selectAll"> </th>
    <th>SKU#</th>
    <th>Name</th>
    <th>Case UPC#</th>
    <th>Unit UPC#</th>
    <th>Unit Size</th>
    <th>Count Per Case</th>
    <th>Product Line</th>
    <th>Actions</th>
</tr>
</thead>
<tbody class="table-striped">
{% for sku in skus %}
<tr>
    <td><input type="checkbox" class="sku-checkbox" id="{{ sku.number }}"> </td>
    <td>{{ sku.number }}</td>
    <td><a href="{% url 'edit_sku' sku.number %}">{{ sku.name }}</a></td>
    <td>{{ sku.case_upc.upc_number }}</td>
    <td>{{ sku.unit_upc.upc_number }}</td>
    <td>{{ sku.unit_size }}</td>
    <td>{{ sku.count }}</td>
    <td>{{ sku.product_line.name }}</td>
    <td><a href="{% url 'edit_formula' sku.number %}">View Formula</a></td>
</tr>
{% empty %}
    <div class="alert alert-danger">
        <p>No results were found. Please modify your search parameters and try again.</p>
        <p>You can also click the "Add a new SKU" button to create a new SKU.</p>
    </div>
{% endfor %}
</tbody>
</table>
<div>
<p>Found {{ skus.paginator.count }} matches in {{ duration }} seconds</p>
</div>
</div>
</div>
</form>
</div>
<!-- Hidden div with template data -->
<div style="display: none;">
<a href="{% url 'autocomplete_ingredients' %}" id="acIngredientUrl"></a>
<a href="{% url 'autocomplete_product_lines' %}" id="acProductLineUrl"></a>
<input id="ingredientsInputId" value="{{ form.ingredients.id_for_label }}">
<input id="productLinesInputId" value="{{ form.product_lines.id_for_label }}">
<input id="pageNumInputId" value="{{ form.page_num.id_for_label }}">
<a href="{% url 'sku' %}" id="skuUrl"></a>
<a href="{% url 'remove_skus' %}" id="removeSkuUrl"></a>
</div>
{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script src="{% static 'meals/sku/sku.js' %}"></script>
{% endblock %}