{% extends "meals/base.html" %}

{% block sku_active %}active{% endblock %}

{% block body %}
<div class="container-fluid m-auto">
<form method="post">
{% csrf_token %}
<div class="row">
<div class="col-sm-8">
<nav>
    <ul class="pagination my-4">
    {% if skus.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page={{ skus.previous_page_number }}">
            <span>&laquo;</span>
        </a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">
            <span>&laquo;</span>
        </a>
        </li>
    {% endif %}

    {% for page in pages %}
        {% if page == forloop.counter %}
        <li class="page-item active">
        {% else %}
        <li class="page-item">
        {% endif %}
        <a class="page-link" href="?page={{ forloop.counter }}">
        {{ forloop.counter }}
        </a>
        </li>
    {% endfor %}

    {% if skus.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ skus.next_page_number }}">
            <span>&raquo;</span>
        </a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">
            <span>&raquo;</span>
        </a>
        </li>
    {% endif %}
    </ul>
</nav>
</div>
<div class="col-sm-4">
<div class="btn-group my-4" style="float: right;">
    <a id="addSkuButton"
{#     data-toggle="modal"#}
{#     data-target="#editModal"#}
        href="{% url 'add_sku' %}"
        class="btn btn-primary">
        <span class="fa fa-plus"></span> Add a new SKU
    </a>
    <button type="button"
            class="btn btn-danger"
            disabled
            data-toggle="tooltip"
            data-placement="top"
            title="Select SKUs below to remove them."
            id="removeButton">
        <span class="fa fa-minus"></span> Remove selected
    </button>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-2">
<div class="form-group">
    <label for="{{ form.num_per_page.id_for_label }}">Number per page:</label>
    {{ form.num_per_page }}
</div>
<div class="form-group">
    <label for="{{ form.keyword.id_for_label }}">Search:</label>
    {{ form.keyword }}
</div>
<div class="form-group">
    <label for="{{ form.sort_by.id_for_label }}">Sort by:</label>
    {{ form.sort_by }}
</div>
<div class="form-group">
    <label for="{{ form.ingredients.id_for_label }}">Contains ingredient(s):</label>
    <input type="text" class="form-control" id="ingredientInput" placeholder="Start typing...">
    {{ form.ingredients }}
</div>
<div class="form-group">
    <label for="{{ form.product_lines.id_for_label }}">Belongs to product line(s):</label>
    <input type="text" class="form-control" id="productLineInput" placeholder="Start typing...">
    {{ form.product_lines }}
</div>
<div class="btn-group w-100" role="group">
<input type="submit" class="btn btn-success w-100" value="Filter">
<a href="#" id="resetAllButton" class="btn btn-danger w-100">Reset</a>
</div>
</div>
<div class="col-sm-10">
<table class="table">
<thead class="thead-light">
<tr>
    <th><input type="checkbox" id="selectAll"> </th>
    <th>SKU#</th>
    <th>Name</th>
    <th>Case UPC#</th>
    <th>Unit UPC#</th>
    <th>Unit Size</th>
    <th>Count Per Case</th>
    <th>Product Line</th>
</tr>
</thead>
<tbody class="table-striped">
{% for sku in skus %}
<tr>
    <td><input type="checkbox" class="sku-checkbox" id="{{ sku.number }}"> </td>
    <td>{{ sku.number }}</td>
    <td><a href="{% url 'edit_sku' sku.number %}">{{ sku.name }}</a></td>
    <td>{{ sku.case_upc.upc_number }}</td>
    <td>{{ sku.unit_upc.upc_number }}</td>
    <td>{{ sku.unit_size }}</td>
    <td>{{ sku.count }}</td>
    <td>{{ sku.product_line.name }}</td>
</tr>
{% empty %}
    <div class="alert alert-danger">
    No results were found. Please modify your search parameters and try again.
    </div>
{% endfor %}
</tbody>
</table>
</div>
</div>
</form>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalHeaderText"></h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modalBodyDiv">
        <p>Please wait...</p>
        <div class="alert alert-danger m-4" style="display: none;">
        </div>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            <button type="button"
                    id="modalSaveButton"
                    class="btn btn-success">Save</button>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scriptend %}
<script>
$(function() {
    var removeButton = $("#removeButton");
    var skuCheckboxes = $(".sku-checkbox").toArray();
    skuCheckboxes.forEach(function (cb) {
        cb.onchange = function(ev) {
            removeButton.prop("disabled", !skuCheckboxes.some(function(elem) {
                return elem.checked;
            }));
        }
    });

    $("#selectAll").on("change", function(ev) {
        let value = $(this).prop("checked");
        skuCheckboxes.forEach(function(cb) {
            cb.checked = value;
        });
    });

    removeButton.on("click", function(ev) {
        var toRemove = [];
        skuCheckboxes.forEach(function(cb) {
            if (cb.checked) {
                toRemove.push(cb.id);
            }
        });
        if (confirm(`Are you sure you want to remove ${toRemove.length} SKU(s)? `+
            `This cannot be undone.`)) {
            $.post("{% url 'remove_skus' %}",
                {"to_remove": JSON.stringify(toRemove)},
                function(data) {
                    alert(data.resp);
                }, "json")
                    .fail(function(jqXHR, status, data){
                    alert(`[Status=${status}] Error removing ${toRemove.length} SKU(s): ` +
                        ("error" in data) ? data.error : "" + "\n" +
                            `Please refresh the page and try again later.`);
                });
        }
    });

    /************** Autocomplete for Ingredients and Product Lines **************/
    // Adapted from https://jqueryui.com/autocomplete/#multiple-remote

    function split(val) {
        return val.split(/,\s*/);
    }

    function lastTerm(val) {
        return split(val).pop();
    }

    function selectCheckbox(selected, options) {
        options.forEach(function(option) {
            option.selected = selected.indexOf(option.text) !== -1;
        })
    }

    function selectIngredients(selected) {
        return selectCheckbox(
            selected,
            $("select[id={{ form.ingredients.id_for_label }}] option").toArray());
    }

    function selectProductLines(selected) {
        return selectCheckbox(
            selected,
            $("select[id={{ form.product_lines.id_for_label }}] option").toArray());
    }

    function injectCallback(callback) {
        return function(event, ui) {
            let currentTerms = split(this.value);
            currentTerms.pop();  // Get rid of the half-typed term
            currentTerms.push(ui.item.value);
            currentTerms.push("");
            this.value = currentTerms.join(", ");
            callback(currentTerms);
            return false;
        }
    }

    // Generate an initial list of ingredients and put in the box
    let initialIngredients = [];
    $("select[id={{ form.ingredients.id_for_label }}] option:selected")
        .each(function (i, option) {
            initialIngredients.push(option.text);
        });
    initialIngredients.push("");

    // Do the same for product lines
    let initialProductLines = [];
    $("select[id={{ form.product_lines.id_for_label }}] option:selected")
        .each(function(i, option) {
            initialProductLines.push(option.text);
        });
    initialProductLines.push("");

    $("#ingredientInput")
        .on("keydown", function(ev) {
            if (ev.keyCode === $.ui.keyCode.TAB
                && $(this).autocomplete("instance").menu.active) {
                ev.preventDefault();
            }
        })
        .on("keyup", function(ev) {
            let currentTerms = split(this.value);
            selectIngredients(currentTerms);
        })
        .autocomplete({
            source: function(request, response) {
                $.getJSON("{% url 'autocomplete_ingredients' %}", {
                    term: lastTerm(request.term)
                }, response)
            },
            search: function() {
                let term = lastTerm(this.value);
                // Only perform a search when user has typed more than 2 chars
                if (term.length < 2) {
                    return false;
                }
            },
            focus: function() {
                return false;
            },
            select: injectCallback(selectIngredients),
        }).val(initialIngredients.join(", "));

    $("#productLineInput")
        .on("keydown", function(ev) {
            if (ev.keyCode === $.ui.keyCode.TAB
                && $(this).autocomplete("instance").menu.active) {
                ev.preventDefault();
            }
        })
        .on("keyup", function(ev) {
            let currentTerms = split(this.value);
            selectProductLines(currentTerms);
        })
        .autocomplete({
            source: function(request, response) {
                $.getJSON("{% url 'autocomplete_product_lines' %}", {
                    term: lastTerm(request.term)
                }, response)
            },
            search: function() {
                let term = lastTerm(this.value);
                // Only perform a search when user has typed more than 2 chars
                if (term.length < 2) {
                    return false;
                }
            },
            focus: function() {
                return false;
            },
            select: injectCallback(selectProductLines),
        }).val(initialProductLines.join(", "));

    $("#resetAllButton").click(function(ev) {
        window.location.href = "{% url 'sku' %}"
    });
});
</script>
{% endblock %}