{% extends 'meals/base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block goal_active %}active{% endblock %}
{% block title %}Manufacturing Goals{% endblock %}

{% block body %}
<div class="container-fluid m-auto">
<div class="row mt-4" id="helpDiv" style="display: none;">
<div class="col-sm">
<div class="alert alert-success">
    <h3>Manufacturing Goals</h3>
    <p>
        Review your saved goals here. Your goals are private to you. If you want
        to create a new goal, click the "Add a new Goal" button.
    </p>
    <p>Click on the goal's name to edit the goal. If you wish to view a
    formatted manufacturing report, click the "Report" button. You may also
    download manufacturing reports and the goal itself from the "Download"
    menu.</p>
    {% if request.user.is_admin %}
    <p class="mb-0">
    As administrator you may select goals from different users to compile
    <a href="#" class="mfgScheduleTooltips">manufacturing schedules</a>.
    </p>
    {% else %}
    <p class="mb-0">
        An administrator may choose to enable or disable your goals to produce
        a <a href="#" class="mfgScheduleTooltips">manufacturing schedule</a>.
    </p>
    {% endif %}
</div>
</div>
</div>

{% if messages %}
<div class="row mt-2">
<div class="col-sm-12">
    <div class="alert alert-success" id="messagesDiv">
    {% for message in messages %}
    <p class="{% if message.tags %}{{ message.tags }}{% endif %}{% if forloop.counter == messages|length %} mb-0{% endif %}">
        {{ message }}
    </p>
    {% endfor %}
    </div>
</div>
</div>
{% endif %}


<div class="row mt-2">
<div class="col-sm">
    <div class="d-flex justify-content-between align-items-center">
    {% if False %}
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="showAllCheckbox">
        <label class="custom-control-label"
               for="showAllCheckbox">
            Show goals owned by others
            <span class="badge badge-pill badge-info"
                  data-placement="right"
                  title="This option is enabled because you are an administrator"
                  data-toggle="tooltip">i</span>
        </label>
    </div>
    {% else %}
    <div></div>  <!-- Empty div to position the btn-group -->
    {% endif %}
    <div class="btn btn-group">
        <button class="btn btn-success" id="showHelpButton">
            <span class="fas fa-question-circle"></span> Help
        </button>
        <a href="{% url "add_goal" %}" id="addGoalButton" class="btn btn-primary">
            <span class="fas fa-plus"></span> Add a new Goal
        </a>
        {% if request.user.is_admin %}
        <button class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"></button>
        <div class="dropdown-menu">
        <a href="#"
           id="scheduleButton"
           class="dropdown-item"><span class="fas fa-calendar-check"></span> Schedule</a>
        <a href="#"
           id="enableGoalsButton"
           class="dropdown-item"><span class="fas fa-check"></span> Enable Goals</a>
        <a href="#"
           id="disableGoalsButton"
           class="dropdown-item"><span class="fas fa-times"></span> Disable Goals</a>
        </div>
        {% endif %}
    </div>
    </div>
</div>
</div>


<div class="row mt-2">
<div class="col-sm-2">
<h3>Filter</h3>
<form method="post" id="goalFilterForm">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
    <p>Please correct the following error{{ form.non_field_errors|pluralize }}:</p>
    {{ form.non_field_errors }}
    </div>
{% endif %}
{% for field in form %}
    <div class="form-group">
    {{ field.label_tag }}
    {{ field }}
    {% if field.errors %}<small class="errorlist">{{ field.errors }}</small>{% endif %}
    </div>
{% endfor %}
</form>

<div class="btn-group w-100">
    <button class="btn btn-success w-100" form="goalFilterForm" type="submit">
        <span class="fas fa-filter"></span> Filter
    </button>
    <a class="btn btn-danger w-100" href="{% url 'goals' %}">
        <span class="fas fa-trash"></span> Reset
    </a>
</div>
</div>

<div class="col-sm-10">
<table class="table">
<thead class="thead-light">
<tr>
    {% if request.user.is_admin %}
    <th>
        <div class="custom-control custom-checkbox">
        <input type="checkbox"
               id="selectAllCheckbox"
               class="custom-control-input">
        <label for="selectAllCheckbox" class="custom-control-label"></label>
        </div>
    </th>
    {% endif %}
    <th>Goal Name</th>
    <th>Deadline</th>
    {% if request.user.is_admin %}
    <th>
        <a href="#"
           title="Whether this goal is Enabled / Scheduled"
           data-toggle="tooltip"
           data-placement="top">E&#47;S?</a>
        E&#47;S?
        <span class="fas fa-info-circle"
              title="Enabled / Scheduled"
              data-toggle="tooltip"
              data-placement="top"></span>
    </th>
    <th>Creator</th>
    {% endif %}
    <th>Last Modified Time</th>
    <th>Actions</th>
</thead>
<tbody>
{% for goal in all_goals %}
<tr>
    {% if request.user.is_admin %}
    <td>
        <div class="custom-control custom-checkbox">
        <input type="checkbox" data-goal-id="{{ goal.pk }}"
               id="checkbox-{{ goal.pk }}"
               class="custom-control-input selectGoalCheckboxes">
        <label for="checkbox-{{ goal.pk }}" class="custom-control-label"></label>
        </div>
    </td>
    {% endif %}
    <td><a href = "{% url 'edit_goal' goal.pk %}">{{ goal.name }}</a></td>
    <td>{{ goal.deadline|date:"N d, Y" }} ({{ goal.deadline|naturaltime }})</td>
    {% if request.user.is_admin %}
    <td class="d-flex justify-content-between align-items-center">
        <span class="fas {% if goal.is_enabled %}fa-check{% else %}fa-times{% endif %}"></span>
        <span class="fas {% if goal.scheduled %}fa-check{% else %}fa-times{% endif %}"></span>
    <td>
        <div class="custom-control custom-control-inline custom-checkbox m-0">
        <input type="checkbox"
               disabled="disabled"
               {% if goal.is_enabled %}checked="checked"{% endif %}
               id="enabled-{{ goal.pk }}"
               class="custom-control-input">
        <label for="enabled-{{ goal.pk }}" class="custom-control-label"></label>
        </div>
        <div class="custom-control custom-control-inline custom-checkbox m-0">
        <input type="checkbox"
               disabled="disabled"
               {% if goal.is_scheduled %}checked="checked"{% endif %}
               id="scheduled-{{ goal.pk }}"
               class="custom-control-input">
        <label for="scheduled-{{ goal.pk }}" class="custom-control-label"></label>
        </div>
    </td>
    <td>{{ goal.user.get_full_name }}</td>
    {% endif %}
    <td>{{ goal.save_time|naturaltime }}</td>
    <td>
        <div class="btn-group">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">
                Download
            </button>
            <div class="dropdown-menu">
            <h6 class="dropdown-header downloadCalculationsHeader">
                Download report as
            </h6>
            <a href="{% url 'export_calculation_csv' goal.pk %}" class="dropdown-item">CSV</a>
            <a href="{% url 'view_calculation' goal.pk %}?print=1" class="dropdown-item">PDF</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header downloadGoalHeader">
                Download goal as
            </h6>
            <a href="{% url 'export_goal_csv' goal.pk %}" class="dropdown-item">CSV</a>
            <div data-placement="left"
                 title="Upgrade to premium version to enable PDF exports."
                 data-toggle="tooltip">
                <a href="#" class="dropdown-item disabled">PDF</a>
            </div>
        </div>
        <a href="{% url 'view_calculation' goal.pk %}"
           data-toggle="tooltip"
           data-placement="left"
           title="View formatted report for ingredients used in this goal."
           class="btn btn-link">Report</a>
        </div>
        </div>
    </td>
</tr>
{% empty %}
<div class="alert alert-danger">
<p class="mb-0">Your search returned 0 result. Check your search parameters
    or create one by clicking the "Add a new Goal" button.</p>
</div>
{% endfor %}
</tbody>
</table>

<p>Found {{ all_goals|length }} match{{ all_goals|pluralize:',es' }} in {{ seconds }} second{{ second|pluralize }}</p>
</div>
</div>
</div>

<!-- Hidden div with template data -->
<a href="{% url 'enable_goals' %}" id="enableGoalsUrl"></a>
<a href="{% url 'disable_goals' %}" id="disableGoalsUrl"></a>

{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script src="{% static 'meals/lib/underscore.js' %}"></script>
<script src="https://craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js"></script>
<script src="{% static 'meals/goal/goal.js' %}"></script>
{% endblock %}
