{% extends 'meals/base.html' %}
{% load static %}
{% load meals_extras %}
{% block title %}Users{% endblock %}

{% block users_active %}active{% endblock %}

{% block body %}
<div class="container m-auto">
{% if messages %}
<div class="row mt-3">
<div class="col-sm-12">
    <div class="alert alert-success" id="messagesDiv">
    {% for message in messages %}
    <p class="{% if message.tags %}{{ message.tags }}{% endif %}{% if forloop.counter == messages|length %} mb-0{% endif %}">
        {{ message }}
    </p>
    {% endfor %}
    </div>
</div>
</div>
{% endif %}

<div class="row mt-3">
<div class="col-sm-12 d-flex justify-content-end">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'add_user' %}">
            <span class="fas fa-plus"></span> Add a new User
        </a>
        <a class="btn btn-danger" id="removeUserButton" href="#">
            <span class="fas fa-minus"></span> Remove selected
        </a>
        </div>
    </div>
</div>

<div class="row mt-3">
<div class="col-sm-12">

<table class="table">
<thead class="thead-light">
<tr>
    <th>
        <div class="custom-control custom-checkbox">
        <input type="checkbox"
               id="selectAllCheckbox"
               class="custom-control-input">
        <label for="selectAllCheckbox" class="custom-control-label"></label>
        </div>
    </th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>NetID</th>
    <th>Roles</th>
</tr>
</thead>

<tbody>
{% for user in users %}
<tr>
    <td>
        <div class="custom-control custom-checkbox">
        <input type="checkbox" data-user-id="{{ user.pk }}"
               id="checkbox-{{ user.pk }}"
               class="custom-control-input selectUserCheckboxes">
        <label for="checkbox-{{ user.pk }}" class="custom-control-label"></label>
        </div>
    </td>
    <td><a href="{% url 'edit_user' user.pk %}">{{ user.username }}</a></td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>{{ user.email }}</td>
    <td>{% if user.netid %}{{ user.netid }}{% else %}N&#47;A{% endif %}</td>
    <td>
        {% for role in user.groups|values_list:'name' %}
        <span class="badge badge-pill badge-primary">{{ role }}</span>
        {% endfor %}
    </td>
</tr>
{% endfor %}
</tbody>

</table>

</div>
</div>
</div>

<div id="hiddenData">
<a href="{% url 'remove_users' %}" id="removeUsersUrl"></a>
</div>
{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script src="{% static 'meals/accounts/user.js' %}"></script>
{% endblock %}