{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--FontAwesome CSS -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<script>
    {% block script %}
    {% endblock %}
</script>
<style>
    span.form-error {
        color: red
    }
    .errorlist {
        color: red
    }
    {% block style %}
    {% endblock %}
</style>
<body>
{# Adapted from https://getbootstrap.com/docs/4.1/components/navbar/  #}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">HypoMeals</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block dashboard_active %}{% endblock %}">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item {% block sku_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'sku' %}">SKUs</a>
            </li>
            <li class="nav-item {% block ingredient_active %}{% endblock %}">
                <a class="nav-link" href="#">Ingredients</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-2">
        {% if request.user.is_authenticated %}
            <li><span class="navbar-text">{{ request.user.first_name }}</span></li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-sign-out-alt"></span> Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><span class="fa fa-sign-in-alt"></span> Login</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block scriptend %}
{% endblock %}
</body>
</html>