{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <!--FontAwesome CSS -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'meals/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<script>
    {% block script %}
    {% endblock %}
</script>
<style>
    span.form-error {
        color: red
    }
    .errorlist {
        color: #721c24
    }
    {% block style %}
    {% endblock %}
</style>
<body>
{# Adapted from https://getbootstrap.com/docs/4.1/components/navbar/  #}

<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">HypoMeals</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block dashboard_active %}{% endblock %}">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item {% block sku_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'sku' %}">SKUs</a>
            </li>
            <li class="nav-item {% block ingredient_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'ingredient' %}">Ingredients</a>
            </li>
            <li class="nav-item {% block product_line_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'product_line' %}">Product Lines</a>
            </li>
            <li class="nav-item {% block formula_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'formula' %}">Formulas</a>
            </li>
            <li class="nav-item {% block sales_summary_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'sales_summary' %}">Sales Summary</a>
            </li>
            <li class="nav-item dropdown {% block manufacturing_active %}{% endblock %}">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                Manufacturing
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'lines' %}">Lines</a>
                <a class="dropdown-item" href="{% url 'goals' %}">Goals</a>
                <a class="dropdown-item" href="{% url 'schedule' %}">Schedule</a>
              </div>
            </li>
            <li class="nav-item {% block import_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'import' %}">Import</a>
            </li>
            <li class="nav-item {% block users_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'users' %}">Users</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-2">
        {% if request.user.is_authenticated %}
            <li>
                <div class="d-inline-flex align-items-baseline">
                <span class="navbar-text align-top">
                {% if request.user.is_admin %}
                    <span class="badge badge-dark">admin</span>
                {% endif %}
                {{ request.user.first_name }}
                </span>
                </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-sign-out-alt"></span> Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><span class="fa fa-sign-in-alt"></span> Login</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
<script src="{% static 'meals/lib/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'meals/lib/jquery.form.min.js' %}"></script>
<script src="{% static 'meals/lib/jquery-ui.min.js' %}"></script>
<script src="{% static 'meals/lib/popper.min.js' %}"></script>
<script src="{% static 'meals/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'meals/lib/mousetrap.min.js' %}"></script>
<script src="{% static 'meals/lib/underscore.js' %}"></script>
<script src="{% static 'meals/base.js' %}"></script>
{% block scriptend %}
{% endblock %}
</body>
</html>
