{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <!--FontAwesome CSS -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<script>
    {% block script %}
    {% endblock %}
</script>
<style>
    span.form-error {
        color: red
    }
    .errorlist {
        color: #721c24
    }
    {% block style %}
    {% endblock %}
</style>
<body>
{# Adapted from https://getbootstrap.com/docs/4.1/components/navbar/  #}

<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">HypoMeals</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block dashboard_active %}{% endblock %}">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item {% block sku_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'sku' %}">SKUs</a>
            </li>
            <li class="nav-item {% block ingredient_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'ingredient' %}">Ingredients</a>
            </li>
            <li class="nav-item dropdown {% block goal_active %}{% endblock %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goals
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'goals' %}">Goals</a>
                <a class="dropdown-item" href="{% url 'add_goal' %}">Create New Goal</a>
              </div>
            </li>
            <li class="nav-item {% block import_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'import' %}">Import</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-2">
        {% if request.user.is_authenticated %}
            <li><span class="navbar-text">{{ request.user.first_name }}</span></li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-sign-out-alt"></span> Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><span class="fa fa-sign-in-alt"></span> Login</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static 'meals/lib/underscore.js' %}"></script>
{% block scriptend %}
{% endblock %}
</body>
</html>
