{% extends 'meals/base.html' %}
{% if messages %}
    {%  for message in messages %}
        <div>
            <strong>{{ message|safe }}</strong>
        </div>
    {%  endfor %}
{%  else %}
{%  endif %}

{% block body %}
    <div class="container m-auto">
    <div class="jumbotron">
    <h3>Welcome{% if user.is_authenticated %}, {{ user.first_name }}{% endif %}!</h3>
        <p>Import Successful! All files were imported</p>
                <p><a href="/">Click here to return to the home page</p>
    </div>
    </div>
{% endblock %}

{% block dashboard_active %} active{% endblock %}