{% extends 'meals/base.html' %}

{% block body %}
    <div class="container m-auto">
    <div class="jumbotron my-4">
    <h3>Welcome{% if user.is_authenticated %}, {{ user.first_name }}{% endif %}!</h3>
    <p>What would you like to do next?</p>
    <ul>
        <li><a href="{% url "sku" %}">Review SKUs</a></li>
        <li><a href="{% url 'ingredient' %}">Review Ingredients</a></li>
        <li><a href="{% url 'import_page' %}">Import CSV</a></li>
    </ul>
    </div>
    </div>
{% endblock %}

{% block dashboard_active %} active{% endblock %}