{% extends 'meals/base.html' %}
{% load staticfiles %}

{% block body %}
<button type="button" class="btn btn-primary" id="add">Add</button>
<button type="button" class="btn btn-secondary" id="delete">Delete</button>
{% if message != "" %}
  <div class="alert alert-success">
    <strong>Success!</strong> {{ message }}
  </div>
{% endif %}
<form id = "manufacturer-form" action="/download_goal/" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="col">
      Form Name:
    </div>
    <div class="col">
      {{ form.form_name }}
    </div>
  </div>
  {% for index, sku_field, quantity_field in form.get_interest_fields %}
    <div class="form-row">
      <div class="col">
        {{ sku_field }}
      </div>
      <div class="form-group col-md-3">
        {{ quantity_field }}
      </div>
      <div class="form-group col-md-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="{{ index }}">
          Product Line Filter
        </button>
      </div>
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary" value = "generate" onclick="javascript: form.action='/generate_report/';">Generate</button>
  <button type="submit" class="btn btn-primary" value = "save" onclick="javascript: form.action='/show_one_goal/';">Save</button>
  <button type="submit" class="btn btn-primary" value = "download" id="download">Download</button>
</form>
<div>{{ errors }}</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="form-control" id="product_line_selector">
          <option> None </option>
          {% for product_line in product_lines %}
            <option value="{{ product_line }}">{{ product_line }}</option>
          {% endfor %}
        </select>
        <div class="list-group" id="SKU"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<a href="{% url 'autocomplete_skus' %}" id="acSkusUrl"></a>
{% endblock %}

{% block scriptend %}
<script src="{% static 'meals/common.js' %}"></script>
<script>
  let $this = $(".sku-list-new")
  let $clone = $this.clone()
  let name = $clone.attr('name')
  let n = parseInt(name.split('_')[1]) + 1
  var buttonClicked = -1
  for (var i = 0; i < n; i++) {
    $("#"+i).on('click', function() {
      buttonClicked = $(this).attr("id")
    })
  }

  $('#product_line_selector').on('change', function() {
      const $pd_selected = $("#product_line_selector").val()
      $.ajax({url: "/find_product_line/", data: {'product_line': $pd_selected}, dataType: 'json', success: function(result) {
        const skus = result.skus
        var sku_length = skus.length;
        for (var i = 0; i < sku_length; i++) {
          let $newIngr = $("<button>").attr("type", "button")
                                      .attr("class", "list-group-item list-group-item-action")
                                      .html(skus[i])
                                      // .attr("data-dismiss", "modal")
          $newIngr.on('click', function() {
            $("#id_sku_"+buttonClicked).val($(this).prop("innerHTML"))
            $('#exampleModal').modal("hide")
          })
          $("#SKU").html("")
          $("#SKU").append($newIngr)
        }
      }})
  })

  $('#add').on('click', function() {
      let $this = $(".sku-list-new")
      let $clone = $this.clone()
      let name = $clone.attr('name')
      let n = parseInt(name.split('_')[1]) + 1
      const acSkusUrl = $("#acSkusUrl").attr("href");

      sku_name = 'sku_' + n
      $clone.val('')
      $clone.attr('name', sku_name)
      $clone.attr('id', 'id_' + sku_name)
      registerAutocomplete($clone, acSkusUrl);
      $clone.appendTo($this.parent())

      n = parseInt(name.split('_')[1])
      $last_quantity = $("#id_quantity_" + n)
      n = n + 1
      let quantity_name = "quantity_" + n
      let $quantity_clone = $last_quantity.clone()
      $quantity_clone.val('')
      $quantity_clone.attr('name', quantity_name)
      $quantity_clone.attr('id', 'id_' + quantity_name)
      $quantity_clone.appendTo($last_quantity.parent())
      let newButton = $("<button>").attr("type", "button")
                                   .attr("class", "btn btn-primary")
                                   .attr("data-toggle", "modal")
                                   .attr("data-target", "#exampleModal")
                                   .attr("id", n)
                                   .html("Product Line Filter")
                                   .on('click', function() {
                                     buttonClicked = $(this).attr("id")
                                   })
      newButton.appendTo($("#"+(n-1)).parent())

      $this.removeClass('sku-list-new')
  })

  $('#delete').on('click', function() {
      let $this = $(".sku-list-new")
      let name = $this.attr('name')
      let n = parseInt(name.split('_')[1]) - 1
      let sku_n = '#id_sku_' + n
      let $last = $(sku_n)
      $last.addClass('sku-list-new')

      let quantity_n = '#id_quantity_' + (n + 1)
      $(quantity_n).remove()
      $this.remove();
      $("#"+(n + 1)).remove()
    })

</script>
<script>
  $(function() {
    const acSkusUrl = $("#acSkusUrl").attr("href");
    registerAutocomplete($("#id_sku_0"), acSkusUrl);
  })
</script>
{% endblock %}
{% block dashboard_active %} active{% endblock %}
