pytz
django
psycopg2
psycopg2-binary
six
requests
jsonpickle
ipython
django-storages[google]
prospector
python-magic
reportlab
cachetools
gunicorn
requests
Werkzeug
django_extensions
pyOpenSSL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
oauth2client
celery[redis]
django-celery-results
django-celery-beat
lxml